<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="utilities.ExtentReportManager"></listener>
</listeners>
  <test thread-count="5" name="TestNg">
    <classes>
      <class name="testcases.TC_MC_004"/>
      <class name="testcases.TC_MC_005"/>
      <class name="testcases.TC_MC_001"/>
      <class name="testcases.TC_MC_002"/>
    </classes>
  </test> <!-- TestNg -->
</suite> <!-- Suite -->
